<!doctype html>
<html lang="en">
  <head>
    {HTMLHead}
  </head>
  <body>
    {HTMLNavbar}  
    <div class="">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div id="article" class="container mt-5">
            {titre-page-add-article}
            <hr>
            {message}
            <div class="container">
                <form action="" method="post" enctype="multipart/form-data">
                  <div class="mb-3">
                    <label for="title-article" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title-article">                    
                  </div>
                  <div class="mb-3">
                      <label for="minithumb-article" class="form-label">Icon</label>
                      <select class="form-select" id="minithumb-article">                        
                        <option value="mt-start.png">Start</option>                        
                      </select>
                  </div>    
                  <div class="mb-3">
                    <label for="teaser-article" class="form-label">Teaser</label>
                    <textarea class="form-control" id="teaser-article"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="content-article" class="form-label">Article</label>
                    <textarea class="form-control" id="content-article" rows="5"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="file-article" class="form-label">Joint file</label>
                    <input class="form-control" type="file" id="file-article">
                  </div>
                  <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div> 
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>    
    {HTMLJS}
  </body>
</html>