<!doctype html>
<html lang="en">
  <head>
    {HTMLHead}
  </head>
  <body>
    {HTMLNavbar}
    <div class="container">        
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <div id="intro" class="container mt-5">
            <h1 class="text-center" >{title}</h1>
            <h3 class="text-center" >{subtitle}</h3>
            <hr>
            <!-- <img class="text-center mt-3" src="assets/theme/akstudio/img/qrcode_alainkelleter.be.png" />-->
            <p class="text-end"><small><i>Contenu du site mis à jour le : {lastupdate-db}</i></small></p>            
          </div>
          <div id="news" class="container mt-5">
            <h3 class="" >{title-news}</h3>
            <hr>
            {HTMLNews}     
          </div>
          <div id="footer" class="container">
            {HTMLFooter}
          </div>
        </div>
        <div class="col-2"></div>
      </div>
    </div>    
    {HTMLJS}
    </body>
</html>