
:root { 
    --main: #F6F9FC;    
    --font-main: #47474b;
    --input-group: #f1f7fc;
    --backg-article : #FFFFFF;
    --backg-logo: #dde7f0;
    --border-logo: #1d202b;
    --border-low: #C0C0C0;
    --border-verylow: #d2d4e0;
    --border-discret: #cccccc;
    --sig-error : #e74093;
    --menu-article : #40c0e7;
    

}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');

body{
    font-family: 'Barlow', sans-serif !important;
    background: var(--main) !important;
    color: var(--font-main);
}

#more-upload-link{
    display:none;    
}
.site-logo{
    background: var(--backg-logo);
    padding: 2px;    
    border: 1px solid var(--border-logo);
    border-radius: 3px;
}

/* Overload Bootstrap*/
.navbar-brand{
 margin-right: 0 !important;   
}

.notUnderline{
    text-decoration: none;
}

.form-group {
    border-radius: 5px;
    background-color: var(--input-group);
    padding: 5px;
    margin: 9px 0;
    border: 1px solid var(--border-low);
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
}

.div-article {
    border-radius: 5px;
    background-color: var(--input-group);
    padding: 5px;
    margin: 9px;
    border: 1px solid var(--border-verylow);
    /*box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);*/
}

.div-article:hover{
    background-color: var(--backg-logo);
}

.sig-error {
    color: var(--sig-error);
}

.files-container { 
    border: 1px solid #D0D0D0; 
    padding: 7px; 
}

.files-infos {
    line-height: 1.5;
    padding: 5px 10px; 
    background-color: var(--backg-logo);
    border: 1px solid var(--border-discret);
    color: #333;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
    padding: 5px 10px;
}

.article{    
    padding: 5px 10px; 
    background-color: var(--backg-article);
    border: 1px solid var(--border-discret);    
    border-radius: 4px;     
    padding: 20px;
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
}

.btn-down:hover {
    background-color: var(--backg-logo);
    color: var(--font-main);; 
}

.kt-box-shadow{
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%); 
}

.vBot { 
  vertical-align: bottom;    
}

.minHeightDivArticle{
    min-height: 130px !important;
}

.news-card{
    color: var(--font-main) !important;
}

#news-date{
    max-width: 64px;
    font-size: 0.8rem !important;
    overflow: hidden;
}

.news-card-ele{
    border-left: 1px dashed;     
    border-color: var(--border-discret);
}

.center-ele{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.min-ele{
   font-size: 0.8rem !important; 
   color: var(--font-main);
}

.noMargin{
    margin: 0 !important;
}

.marginHRMenuGeneral{
    margin-top: 5px !important;
}

.menu-article{
    color: var(--menu-article);
}


/* -- Material Design Icons -- */
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}