
:root { 
    --main: #F6F9FC;    
    --font-main: #6a6a6a;
    --input-group: #f1f7fc;
    --backg-article : #FFFFFF;
    --backg-logo: #dde7f0;
    --border-logo: #1d202b;
    --border-low: #C0C0C0;
    --border-verylow: #d2d4e0;
    --border-discret: #cccccc;
    --sig-error: #e74093;
    --backg-nonpublished: #faebf3;
    --backg-nonpublished-hover: #f3d7e6;
    --menu-item: #40c0e7;
    --menu-item-danger: #e74093;
    --menu-item-manage: #3dcd8a;
    --border-info: #388f9c;
    --alert-success: #d4e5e8;
    --border-success: #63aa8a;
    --alert-danger: #f3d7e6;
    --border-danger: #e74093;

}

body{
    
    font-family: 'Ubuntu', sans-serif !important;
    background: var(--main) !important;
    color: var(--font-main) !important;
}

#more-upload-link{
    display:none;    
}
.site-logo{
    background: var(--backg-logo);
    padding: 2px;    
    border: 1px solid var(--border-logo);
    border-radius: 3px;
}

/* Overload Bootstrap*/
.navbar-brand{
 margin-right: 0 !important;   
}

.notUnderline{
    text-decoration: none;
}

.form-group {
    border-radius: 5px;
    background-color: var(--input-group);
    padding: 5px;
    margin: 9px 0;
    border: 1px solid var(--border-low);
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
}

.div-article {
    border-radius: 5px;
    background-color: var(--input-group);
    padding: 5px;
    margin: 9px;
    border: 1px solid var(--border-verylow);    
}

.div-article-nonpublished {
    border-radius: 5px;
    background-color: var(--backg-nonpublished);
    padding: 5px;
    margin: 9px;
    border: 1px solid var(--border-verylow);    
}

.div-article:hover{
    background-color: var(--backg-logo);
}

.div-article-nonpublished:hover{
    background-color: var(--backg-nonpublished-hover);
}

.sig-error {
    color: var(--sig-error) !important;
}

.files-container { 
    border: 1px solid #D0D0D0; 
    padding: 7px; 
}

.files-infos {
    line-height: 1.5;
    padding: 5px 10px; 
    background-color: var(--backg-logo);
    border: 1px solid var(--border-discret);
    color: #333;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 12px;
    line-height: 1.5;
     padding: 5px 10px;
}

.article{    
    padding: 5px 10px; 
    background-color: var(--backg-article);
    border: 1px solid var(--border-discret);    
    border-radius: 4px;     
    padding: 20px;
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%);
}

.btn-down:hover {
    background-color: var(--backg-logo);
    color: var(--font-main);; 
}

.kt-box-shadow{
    box-shadow: 0 6px 12px -2px rgb(50 50 93 / 25%), 0 3px 7px -3px rgb(0 0 0 / 30%); 
}

.vBot { 
  vertical-align: bottom;    
}

.minHeightDivArticle{
    min-height: 130px !important;
}

.news-card{
    color: var(--font-main) !important;
}

.news-date{
    max-width: 66px;
    font-size: 0.8rem !important;
    overflow: hidden;
}

.news-card-ele{
    border-left: 1px dashed;     
    border-color: var(--border-discret);
}

.center-ele{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.min-ele{
   font-size: 0.8rem !important; 
   color: var(--font-main);
}

.noMargin{
    margin: 0 !important;
}

.marginHRMenu{
    margin-top: 5px !important;
}

.menu-item{
    color: var(--menu-item);
    border: 1px solid;
    border-color: var(--menu-item);
    border-radius: 3px; 
    padding: 5px 0px 0px 0px;
    margin: 0px 1px;
    
}

.menu-item-mini{
    color: var(--menu-item);
    border: 1px solid;
    border-color: var(--menu-item);
    border-radius: 3px; 
    padding: 2px 1px 1px 1px;
    margin: 0px 1px !important;
    
}

.menu-item-danger{
    color: var(--menu-item-danger);
    border: 1px solid;
    border-color: var(--menu-item-danger);
    border-radius: 3px; 
    vertical-align: bottom;
    padding: 5px 0px 0px 0px;
    margin: 0px 1px;
}

.menu-item-manage{
    color: var(--menu-item-manage);
    border: 1px solid;
    border-color: var(--menu-item-manage);
    border-radius: 3px; 
    vertical-align: bottom;
    padding: 5px 0px 0px 0px;
    margin: 0px 1px;
}

.menu-item:hover, .menu-item-danger:hover, .menu-item-manage:hover{
    color: var(--font-main);
    border-color: var(--font-main);
}

.border-info{
    border: 1px solid; 
    border-color: var(--border-info);
}

.title-edit{
    color: var(--menu-item);
    font-style: oblique;
}

input:focus, textArea:focus{
    border-color: var(--menu-item) !important;
}

.colorlink{
    color: var(--menu-item) !important;
    text-decoration: none;
}

.colorlink:hover{
    color: var(--font-main) !important;
    text-decoration: none;
}

/* -- Overload Booptsrap -- */
.form-select:focus,
.form-control:focus,
input[type=checkbox]:focus
{   
  border-color: rgba(64, 192, 231, 0.8);
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(64, 192, 231, 0.6);
  outline: 0 none;
}

.form-check-input:checked {
  background-color: var(--menu-item) !important;
  border-color: var(--border-info) !important;
}

.btn-primary{
    background-color: var(--menu-item) !important;
    border-color: var(--border-info) !important;
}

.btn-primary:hover{
    background-color: var(--font-main) !important;
    border-color: var(--border-discret) !important;
}

.btn-outline-primary{
    background-color: none !important;
    border-color: var(--border-info) !important;
}

btn-outline-primary:hover{
    background-color: none !important;
    border-color: var(--border-discret) !important;
}

.alert-danger{
    background-color: var(--alert-danger) !important;
    border-color: var(--border-danger) !important;
}

.alert-success{
    background-color: var(--alert-success) !important;
    border-color: var(--border-success) !important;
}



/* -- Material Design Icons -- */
.mdi::before {
    font-size: 24px;
    line-height: 24px;
}

.mdi-mini::before {
    font-size: 16px !important;
    line-height: 16px !important;
}

/*

.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}
*/
